MERGELOG_IMAGE=docker.io/YOUR_DOCKERHUB_NAMESPACE/mergelog:0.1.0
MERGELOG_HOSTNAME=journal.example.com
MERGELOG_DATA_PATH=/mnt/docker/mergelog
MERGELOG_TOKEN_SECRET=mergelog_mcp_tokens_v1
TRAEFIK_NETWORK=traefik-public
TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_CERT_RESOLVER=letsencrypt
